// colors

$primary_purple : #4B4184;
$primary_purple_shadow : #231e40;
$primary_orange : #F48200;
$accent_blue : #4CA6D2;
$accent_pink : #FC4759;

// end colors
// effects

$orange_gradient : linear-gradient(90deg, rgba(249,174,44,1) 0%, rgba(244,130,0,1) 100%);

$border_radius : 1rem;

$shadow: 0 10px 12px $primary_purple_shadow;

$txt_shadow: 0 2px 5px $primary_purple_shadow;

// end effects
// fonts

$primary_font: "Fredoka One", Helvetica, Arial, sans-serif;

// end fonts
