footer#footer.footer 
	hr
	section.section.section--footer
		h2.section__title Footer
		.section__content
			.section__profile-crop
				img.section__profile-img(src="")
			p.section__msg
				|  Thanks for taking a look. Check back in as I am always making or doing something new. 
				br
				br
				| Hopefully chat soon,
				br
				br
				strong.section__msg-signature
					| Hector Diaz 
					br
					| Web Developer 1
			section.section__links
				h3.section__title Networking accounts
				a.section__link(href="https://www.linkedin.com/in/hector-g-diaz/") Linkedin.com/in/hector-g-diaz/
				br
				br
				a.section__link(href="https://github.com/TheLegendBreaker") Github.com/TheLegendBreaker

