doctype html
html(lang='en')
	head
		include ./head.pug
		block head
		block inlineStyles
			link(rel="stylesheet" href="https://static.hectordiaz.pro/fonts/mont/stylesheet.css")
			link(rel="stylesheet" href="style.css")
			style
				block styles

		block title
			title Hector's TSK Proposal

	body.body
		block body

		block footer
			include footer.pug

		block scripts
	//-include ./linkedScripts
