script(src="https://static.hectordiaz.pro/request_lib.js")
script(src="https://static.hectordiaz.pro/requests.js")
script(src="https://static.hectordiaz.pro/ui_lib.js")
script(src="renderHome.js")
script(src="lib.js")
