section.section.section--navbar
	h4.section__title.section__title--sr Page navigation links
	nav.section__nav
		a.section__nav-link Portfolio
		a.section__nav-link Contact
		a.section__nav-link Resume
