include mixins
+ setBlockSection( "billing", "Billing")
	.block__article-body
		.block__article-msg
			p retainer: $500
			p The retainer funds half of Phase 1. Monthly invoices will be sent after retainer is used. 
			h4.block__article-headline Monthly billing: 
			p An invoice will be emailed the 1st of each month for services rendered the previous month.
			p Terms are net 30 upon receipt of invoice.

			p I will make detailed hourly reports available through Clockify.com
