section#contact.section.section--contact
	h2.section__title Contact
	.section__content
		p Send me an email and we'll set up a time to meet.
	a.section__link(href="emailto:hector@hectordiaz.pro") hector@hectordiaz.pro

