include mixins
+ setBlockSection( "goals", "Goals")
	.block__article-msg
		p To make it easy to share everything that Three Sisters Kitchen does.

		p I plan to organize the website's landing page into small easy to understand blocks that provide an over view of a specific resource TSK offers and a link to more information about that resource. 
