include mixins
+ setBlockSection( "intro", "HectorDiaz.pro")
	.block__article-body
		.block__article-msg
			p Hi, my name is Hector Diaz and I am Full Stack Web Developer. 
			p My goal is that you feel confident in your website to clearly broadcast everything Three Sisters Kitchen does in our community.
		.block__article-msg
			p.block__article-headline ThreeSistersKitchen.org<br/>Web Proposal
			p To fix any current issues with functionality.
			p To update the website's software and content.
			p To update the website’s sitemap for user clarity and discovery.
			p To help prepare the website for a rebrand.
			p For examples of my previous work and access to my resume, please review my <a href="HTTPS://portfolio.hectordiaz.pro"> portfolio at <strong class="block__article-msg-bold">portfolio.hectordiaz.pro</strong> </a> 

		.block__article-container
			.block__article-contact
				address.block__article-contact-address
					ul.block__article-list.block__article-list--nostyle
						hr
						h4.block__article-contact-title Contact
						li.block__article-list-item Website: 
							a(href="https://portfolio.hectordiaz.pro") portfolio.hectordiaz.pro
						li.block__article-list-item Email: 
							a(href="emailto:hector@hectordiaz.pro") Hector@hectordiaz.pro
						li.block__article-list-item Phone: 
							a(href="phone:208-871-6024") 208 871 6024


