include mixins
+ setBlockSection( "overview", "Overview")
	.block__article-body
		.block__article-msg
			.block__article-container
				h4.block__article-headline Phase 1
				p
					strong.block__article-msg-bold Summary: 
					| Bring the current website's content and software up to date.
				ul.block__article-list.block__article-list--nostyle
					li.block__article-list-item 
						strong.block__article-msg-bold Timeline: 
						| 20 hours from start date of this phase.
					li.block__article-list-item 
						strong.block__article-msg-bold Cost: 
						| $1,000
				h5.block__article-msg-bold Details
				ul.block__article-list
					li.block__article-list-item.block__article-list-item--top Make the website appearance consistent across devices and browsers.
					li.block__article-list-item Build reference document how the website is built for current and future developers.
					li.block__article-list-item Update the website's content to date (ongoing updates listed below as Phase 3).
					li.block__article-list-item Ensure navigation links are consistent across the website.
					li.block__article-list-item Bring the website's software (WordPress) up to date.

			.block__article-container
				h4.block__article-headline Phase 2
				p
					strong.block__article-msg-bold Summary: 
					| Update and organize the website’s site map for user clarity and discovery. 
				ul.block__article-list.block__article-list--nostyle
					li.block__article-list-item 
						strong.block__article-msg-bold Timeline: 
						| 30 hours from start date of this phase.
					li.block__article-list-item 
						strong.block__article-msg-bold Cost: 
						| $1,500
				h5.block__article-msg-bold Details:
				ul.block__article-list
					li.block__article-list-item.block__article-list-item--top Consult with Three Sisters Kitchen to design a strategy for organizing content on the website.
					li.block__article-list-item Build reference document how the website is built for current and future developers.
					li.block__article-list-item Ensure the website's navigation is easy to understand and use.

			.block__article-container
				h4.block__article-headline Phase 3
				p
					strong.block__article-msg-bold Summary: 
					| Ongoing web support for updating and maintaining the website.
				ul.block__article-list.block__article-list--nostyle
					br
					li.block__article-list-item 
						strong.block__article-msg-bold Timeline: 
						| On an as needed basis. 
					li.block__article-list-item
						strong.block__article-msg-bold Cost: 
						| $50 an hour. 
				h5.block__article-msg-bold Details:
				ul.block__article-list
					li.block__article-list-item.block__article-list-item--top For simple graphic design projects and content updates, tasks will be completed within 48 hours.
					li.block__article-list-item Larger scale tasks, like creating and designing new pages or site features may need longer timelines.
					li.block__article-list-item Updates that require less than an hour to complete will be charged a $25 minimum fee.
					li.block__article-list-item Accumulated billable hours will be added to the total of the next billing cycle.
