include mixins
+ setBlockSection( "pricing", "Pricing")
	.block__article-body
		.block__article-msg
			p My rate is $50 an hour.
			p
				strong.block__article-msg-bold Estimated timeline: 
				| 25 hours form start date
				br
				br
				strong.block__article-msg-bold Total estimated cost: 
				| $1,200

			.block__article-container
				h4.block__article-headline Phase 1
				p
					strong.block__article-msg-bold Summary: 
					| Bring the current website's content and software up to date.
				ul.block__article-list.block__article-list--nostyle
					li.block__article-list-item 
						strong.block__article-msg-bold Timeline: 
						| 10 hours from start date of this phase.
					li.block__article-list-item 
						strong.block__article-msg-bold Cost: 
						| $500
				h5.block__article-msg-bold Details
				ul.block__article-list
					li.block__article-list-item.block__article-list-item--top Make the website appearance consistent across devices and browsers.
					li.block__article-list-item Ensure navigation links are consistent across the website.
					li.block__article-list-item Up date all of the website's content that needs it.
					li.block__article-list-item Bring the website's software up to date.
					li.block__article-list-item Document how the website is built.

			.block__article-container
				h4.block__article-headline Phase 2
				p
					strong.block__article-msg-bold Summary: 
					| Organize the website so that its easier to understand all the resources Three Sisters Kitchen provides
				ul.block__article-list.block__article-list--nostyle
					li.block__article-list-item 
						strong.block__article-msg-bold Timeline: 
						| 15 hours from start date of this phase.
					li.block__article-list-item 
						strong.block__article-msg-bold Cost: 
						| $750
				h5.block__article-msg-bold Details:
				ul.block__article-list
					li.block__article-list-item.block__article-list-item--top Make the website's navigation easier to understand and use.
					li.block__article-list-item Consult with Three Sisters Kitchen to design a strategy for organizing all of the different resources the organization provides.
					li.block__article-list-item Collaborate with Three Sisters Kitchen to make the website's structure better server their goals.

			.block__article-container
				h4.block__article-headline Phase 3
				p
					strong.block__article-msg-bold Summary: 
					| Continue working with Three Sisters Kitchen to provide web support for updating and maintaining the website.
				ul.block__article-list.block__article-list--nostyle
					br
					li.block__article-list-item 
						strong.block__article-msg-bold Timeline: 
						| For simple graphic design projects and content updates, I will complete those tasks within 48 hours after Three Sisters Kitchen requests the update.
						| I accumulate the billable hours and added them to the total of the next billing cycle. 
						br
						| I will discuss time lines and costs for larger scale tasks, like creating and designing new pages or website features as they come up.
					li.block__article-list-item
						strong.block__article-msg-bold Cost: 
						| $50 an hour. 
						br
						| If updates are less than an hour to complete, a minimum charge of $25 will be added to the next invoice.

