@mixin keyframes($name) {
	@keyframes #{$name} {
		@content;
	}
}
@mixin animate($animation, $duration, $method, $times) {
	animation: $animation $duration $method $times;
}
@mixin pulse {
	@include keyframes(pulse) {
		50% {
			opacity: 0.55;
		}
	}
	@include animate(pulse, 0.8s, linear, infinite);
}
@mixin fadeOut {
	@include keyframes(fadeOut) {
		100% {
			position: absolute;
			opacity: 0;
			padding: 0;
			height: 0;
		}
	}
	@include animate(fadeOut, 0.3s, ease-out, forwards);
}

@mixin fadeDown {
	@include keyframes(fadeDown) {
		0% {
			transform: translateY(-10%);
			opacity: 0;

		}
		100% {
			transform: translateY(0%);
			opacity: 1;
		}
	}
	@include animate(fadeDown, 0.3s, ease-in-out, forwards);
}

@mixin fadeUp {
	@include keyframes(fadeDown) {
		0% {
			transform: translateY(10%);
			opacity: 0;

		}
		100% {
			transform: translateY(0%);
			opacity: 1;
		}
	}
	@include animate(fadeDown, 0.8s, ease-in-out, forwards);
}

@mixin fadeIn {
	@include keyframes(fadeIn) {
		100% {
			opacity: 1;
		}
	}
	@include animate(fadeIn, 0.3s, ease-in-out, forwards);
}

@mixin spin {
	transform-origin: 50% 50%;
	@include keyframes(spin) {
		100% {
			transform: translate(-50%, -50%) rotate(360deg);
		}
	}
	@include animate(spin, 45s, ease-in-out, infinite);
}

